---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Fernando Velasco Lozano
  </div>
  <div class="inline opacity-75 text-sm">
    Built with <a href="https://astro.build" target="_blank" class="font-bold">Astro</a> ·
    <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy</a> template ·
    <a href="https://github.com/fermaat/fermaat.github.io" target="_blank" class="font-bold">source</a>
  </div>
</footer>
<style></style>
